#links
  ul
    - var links = ['wish', 'vote', 'list']
    - for (var i in links)
      - if (typeof here !== 'undefined' && links[i]==here)
        li
          span.dim= here
      - else
        li
          a(href='/'+links[i])= links[i]
    
    - if (typeof username !== 'undefined')
      li.account 
        a(href='/logout') Logout #{username}
    - else
      li.account
        a(href='/login') Login
     
