!!!
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type='text/javascript', src='/javascripts/headjs/dist/head.min.js')

    title pondr
  body
    !=partial('partials/header')

    #wish-template(style='display: none')
      div(id='wish_{{ _id }}', class='wish')
        .wishText
          a(class='vote') {{ text }}
        .info
          attr(class='whose', title='{{whose}}') 
          attr(class='date', title='{{created}}') 
        .buttons
          ul.buttons-right
            li.more show discussion
            li.flag flag

        .comments-container
          .comments 

          .addComment 
            div Add a new comment:
            .textarea-container
              textarea
            a(class='new-comment') submit

    #comment-template(style='display: none')
      .comment
        .commentText {{ text }}
        .buttons
          ul.buttons-right
            li.whose {{ whose }}
            li.flag flag
            li.upvote upvote
        .responses

        .addResponse 
          div Respond to this:
          .textarea-container
            textarea
          a(class='new-response') submit

    #response-template(style='display: none')
      .response
        .responseText {{ text }}
        .responseInfo
          .whose {{ whose }}
          .score {{ score }}
      
    #suggestion-template(style='display: none')
      a(href='/vote/{{_id}}') {{ text }}

    #content!= body

    script(type='text/javascript')
      head.js(
        {jquery:        "/javascripts/jquery-152.min.js"},
        {timeago:       "/javascripts/jquery-timeago/jquery.timeago.js"},
        {underscore:    "/javascripts/underscore/underscore-min.js"},
        {backbone:      "/javascripts/backbone/backbone-min.js"},
        {nowjs:         "/nowjs/now.js"},
        {models:        "/javascripts/models.js"}
      );
  
