!!! 5
html(lang="en")
  head
    title change password
  body
    
    #content
      form(method="post", action="/password")
        div
          label Username:
            input(type='text', name='username')

        div
          label Old password:
            input(type='password', name='oldPassword')
              
        div
          label New password:
            input(type='password', name='password1')

        div
          label New password again:
            input(type='password', name='password2')

        div
          input(type='submit', value='signup')
