!!! 5
html(lang="en")
  head
    title password reminder sent
  body
    
    #content
      p 
        Check your email account shortly. 
        Instructions for changing your password are on their way.

 
      
