
#vote-application

  p If you had to choose right now, which would you rather have:

  #wish-list

script(type='text/javascript')
  head.ready(function() {
    var wishes = new WishCollection;

    var app = new VoteApplication({username:"#{username}"});
    var appView = new VoteApplicationView({model: app});

    // bootstrap the collection efficiently.  
    // http://documentcloud.github.com/backbone/#FAQ-bootstrap
    wishes.refresh( !{ JSON.stringify(wishes) } );

    // add wishes to the app view
    wishes.each( appView.addOne );

  });

