#application
  div 
  
    p I think we should have:

    .newWish
      .textarea-container
        textarea

    div.suggestion-container
      ul.suggestions
 

  div.explanation
    p And here's why:

    .newWishComment
      .textarea-container
        textarea

  div
  
    p
      span
        input(type='checkbox', id='anonymous') 
        span Remain anonymous
      span  
        button.submit Yes, that's what I think

script(type='text/javascript')
  head.ready(function() {
    var wish = new Wish( !{ JSON.stringify(wish) } ); 
    var app = new NewWishApplicationView({model: wish});
  });


