#application
  div 
  
    p I think we should have:

    .newWish
      textarea(class='newWish', rows='4', cols='60')

  div
  
    p And here's why:

    .newWishComment
      textarea(class='newComment', rows='8', cols='60')

  div
  
    p
      button.submit Yes, that's what I think

script(type='text/javascript')
  head.ready(function() {
    var model = new NewWishApplication({username:"#{username}"});
    var app = new NewWishApplicationView({model: model});
  });


