#wish-application
  div 
  
    p I think we should have:

    .newWish
      .textarea-container
        textarea

      .newWish-why(style="display: none")
        p and here's why:
        //- nb, comments-container hidden in css by default
        .comments-container
          textarea 

    div.suggestion-container
      ul.suggestions
 

  div.explanation
    p And here's why:

    .newWishComment
      .textarea-container
        textarea

  div
    p
      span
        input(type='checkbox', id='anonymous') 
        span Remain anonymous
      span  
        button.submit Yes, that's what I think

#whats-new-application
  h2 Recent wishes ...

script
  head.ready(function() {

    //- A slot for the new wish

    var wish = new Wish( !{ JSON.stringify(wish) } ); 
    var app = new NewWishApplicationView({model: wish});

    //- what's new in the system - a list collection

    var newsCollection = new WishCollection;
    newsCollection.refresh( !{ JSON.stringify(whatsnew) });

    var news = new WhatsNewApplication;
    var newsApp = new WhatsNewApplicationView({model: news});
    newsCollection.each( newsApp.addOne );
  });



