/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
 * End reset
 * 
 */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #3c5c7e;
  overflow: auto;
}
/**
 *
    blue 1: color="#b8dbfd";
    blue 4: color="#3c5c7e"
    blue 2t: color="#79bbfd"
    brownish: color="#5d6e7e"
    blue 3: color="#6095ca"
 *
 *
 * 6469ff
 * 96b8ff
 *
 */

#links {
    height: 1em;
    padding: 4px 120px;
}

#links ul {
    list-style: none;
}

#links li {
    background-color: #6095ca;
    display: inline;
    margin-right: 12px;
    padding: 4px 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;    
}

#links li.current {
  background-color: #79bbfd;
}

#links li.account {
}

#links li:hover {
  background: #b8dbfd;
}

a,
a:active,
a:visited,
a:hover {
    text-decoration: none;
    color: #000000;
}

#content {
    text-align: left;
    padding: 8px 20px;
    background-color: #6095ca;
    margin: 20px 120px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;    
}

#application p {
    margin: 20px 0px 0px 0px;
}

.wish {
  position: relative;
  margin-top: 40px;
}

.wishText {
  text-align: center;
  padding: 8px;
  font-size: 1.2em;
  background-color: #b8dbfd;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;    
}

.newWish textarea {
  height: 3em;
}

.newWishComment textarea {
  height: 8em;
}


ul.options {
  margin: 8px 0px;
  list-style: none;
  text-align: right;
}

ul.options li {
  display: inline-block;
  margin-left: 12px;
}

.commentText, .addComment {
  padding: 4px;
  margin-left: 20px;
} 

.addComment textarea {
  height: 6em;
}


.commentInfo ul {
  display: block;
  list-style: none;
  text-align: right;
}

.commentInfo ul li {
  display: inline-block;
  margin-left: 12px;
}


.responseText, .addResponse{
  padding: 4px;
  margin-left: 80px;
}

.addResponse textarea {
  height: 6em;
}

.addComment input.submit,
.addResponse input.submit {
  position: absolute;
  display: block;
  right: 0px;
}


.comments-container {
  display: none;
}

a {
  cursor: pointer;
}

textarea { 
  background: #b8dbfd;
  border: 0px solid #000;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.textarea-container {
  padding: 8px;
  background: #b8dbfd;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;    
}

.textarea-container textarea:focus,
textarea:focus,
input:focus {
  /* background: #79bbfd; */
}


textarea, 
input {
  outline: none;
}

